:root {
    --primary-color: #1b4965;     /*  var(--primary-color)        */
    --secondary-color: #cae9ff;   /*  var(--secondary-color)      */
    --other-one-color: #083049;
    --other-two-color: #163b52;
    --other-three-color: #235f85;
  }
  
* {
    margin: 0px;
    padding: 0px;
    font-size: 18px;
}

html {
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    height: 100vh;
}

.form__container {
    display: flex;
    margin: 50px 0;
    justify-content: center;
    align-items: center;
}

.myForm {
    background-color: var(--other-one-color);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 400px;
}

label {
    margin: 10px 0px;
}

.input__text, #form__select {
    width: 375px;
}

#form__select {
    text-align: center;
}

.form__btn_container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    width: 225px;
}

.form__btn {
    width: 100px;
}
